algorithms==0.1.4 #TODO: remove references to algorithms and common
astropy==5.2.2
click==8.1.7
cloudpickle==3.0.0
common==0.1.2
einops==0.8.0
gym==0.21.0
h3==3.7.6
matplotlib==3.6.3
networkx==3.1
numpy==1.24.4
poliastro==0.17.0
PyYAML==6.0.1
sacred==0.8.5
scipy
Shapely==1.8.0 #May be issues with installing geos: run `conda install geos` if possible, or check https://shapely.readthedocs.io/en/latest/installation.html
tensorboard_logger==0.1.0
torch==2.3.1 #2.4.0
train==0.0.5
wandb==0.16.5
